.debug .content{
  border: 1px solid black;

}


*{
  font-family: 'Poppins', sans-serif;
}
 /* font */
 .f-new{
   font-size:12px;
   font-weight: 400;
 }

.f-nav{
  font-size:14px;
  font-weight: 500;
}

/* position */
.w100{
  width: 100%;
  margin:0;

}

.relative_c_x{
  position: relative;
  top:50%;
  left:50%;
  transform: translateX(-50%);
  ;
}
.relative_x_y{
  position: relative;
  top:35%;
}

.relative_y{
  position: relative;
  left:10%;


}
/* button */


button.btn-default{
  border: 1px solid #016bff;
  color: #016bff;
  font-weight: 400;
  }

  button.btn-default:hover{
    border: 1px solid #016bff;
    color: white;
    background-color: #016bff;
    font-weight: 400;
    }

button.btn-primary{
    background-color: #016bff;
    color:white;
    font-weight: 500;
}

button.btn-primary:hover{
    background-color:#031b4e ;
}

button.btn-special{
  border: 1px solid #016bff;
  color: #016bff;
  font-weight: 400;
  background-color: white;
  }

button.btn-special:hover{
  background-color:#031b4e;
  color:white;
  font-weight: 500;
}

.over:hover{
  text-decoration:none;
  color:#016bff;
}
.over_white:hover{
  text-decoration:none;
  color:white;
}

/* color */

.greyblu{
  color:#5b6987;
}

.grey{
  color:#f3f5f9;
}

.darkblu{
  color:#031b4e;
}

.blu{
  color:#016bff;
}

.lightblu{
  color:#00d7d2;
}

.white{
  color:#ffffff;
}
/* margin */

.marg_0{
  margin: 0;
}

.marg_t_20{
  margin-top: 20px;
}

.marg_t_50{
  margin-top: 50px;
}

.marg_t_100{
  margin-top: 100px;
}

.marg_t_150{
  margin-top: 150px;

}

.marg_b_20{
  margin-bottom: 20px;
}

.marg_b_50{
  margin-bottom: 50px;
}
.marg_b_100{
  margin-bottom: 100px;
}
/* padding */

.pad_0{
  padding: 0px;
}

.pad_l_15{
  padding-left: 15px;
}



/* tutte le hr  */

.hr{
  padding:0;
  margin:0;
  border-top: 1px solid #f3f5f9 ;
}
/* header  */

.navbar-fixed-top{
  background-color: white;
  box-shadow: 2px 2px 2px #000000;
}
/* newsbar */

.news_bar > .container-fluid > .row{
  border-bottom: 1px solid  #f3f5f9;

}

.news_bar > .container-fluid > .row > [class*="col-"]> .content{
 padding: 10px 0;
 line-height: 20px;
 vertical-align: middle;
}

.new{
  height: 20px;
  display: inline-block;
  background-color: #00d7d2;
  border-radius: 5px;
  text-align: center;
  padding: 0 px;
  vertical-align: middle;
}
/* navbar */



#menu:focus, #menu:hover{
background-color: transparent;
}

#menu >span:hover{
  color:#016bff;

}




 .container-fluid > .row > [class*="col-"] > .content{
     padding: 10px 0;
     line-height: 20px;
     vertical-align: middle;
    }

/* hero  */

.hero > .container-fluid > .row {
  height: 600px;
  text-align: center;
}

.hero{
  background-image: url(../img/bg_hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  bottom;
  transform: translateZ(0);

}


.con_w{
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}


.h1_font{
  font-size: 5rem;
  padding-bottom: 15px;
  font-weight: 600;
  text-align: left;

}

.h4_font{
  font-weight: 100;
  line-height: 30px;
  text-align: left;
  font-size: 2rem;
}

.h3_font{
  font-weight:600;
  font-size: 15px;
}

.cont_box{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color:#f3f5f9;
  padding-top: 0px;

}

.form_title{
  padding-top: 0px;
  padding-bottom: 10px;
}

.cont_form{
  padding: 20px 25px;
  background-color:white;
}
.hero .btn-primary{
  width: 100%;
  padding: 20px 20px;
}

.btn-google{
  margin-right:30px;
  padding: 20px 30px;
}

.hero .btn-default.btn-github{
  padding: 10px 15px;
}
.hero .btn-default.btn-google{
  padding: 10px 55px;
}
span.terms{

  padding-top: 40px;
  font-size: 10px;
}

 .terms > a {
   text-decoration: none;
   color: white;
 }

/* main */

/* sction solution */

#solution {
  background-color: #f3f5f9;
}

.s_title{
 padding: 30px 0;

}

.s_link{
 padding-top: 20px;
 padding-bottom:40px;

}


/* section deploy */


 #deploy h2 {
  font-weight: 600;
  padding-bottom: 10px;
}

#deploy span{

  font-weight: 200;
  font-size: 1.5em;
}


.d_w{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.d_list li{
  list-style-type: none;
  border-left: 2px solid #b7babe;
  padding: 10px 0;
}

.list_margin{
  padding-left: 0;
  margin-left: 0;

}

.d_list li a{
  text-decoration: none;
  padding: 20px 20px;
  color:#5b6987;
}

li#select {
  border-left: 2px solid #016bff;
}
a#select{
  color: #031b4e;
}

#deploy h5{
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}
#deploy p{
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 10px;
}

.empty > hr {
  border-color: transparent;

}

/* >>>> design for developpers >>>> */

#design{

    background-color: #f3f5f9;
}


 #design h2 {
  font-weight: 600;
  padding-bottom: 10px;
}

#design h6 {
 font-weight: 300;
 padding: 20px  0;
}

#design span{

  font-weight: 200;
  font-size: 1.2em;
}

#design img{
   width: 90%;
}

.circle{
  padding: 50px;
}

.circle > i{
  padding-right: 20px
}

/* >>>> built for business >>>> */

#built h2 {
 font-weight: 600;
 padding-bottom: 10px;
 padding-top: 20px;
}

#built h5{
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

#built h6 {
font-weight: 300;
padding: 20px  0;
}


#built p{
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 10px;
}
#built span{

 font-weight: 200;
 font-size: 1.2em;
}

.d_list_w{
  padding-right: 80px;
}

/* >>>> service your customers >>> */

#service{
  background-color: #031b4e;
  background-image: url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
  background-position:  50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}


#service h2 {
 font-weight: 600;
 padding-bottom: 10px;
 padding-top: 20px;
}


#service p{

 font-weight: 200;
 font-size: 1.2em;
}

.col1{
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  padding-left: 5px;
}

.col2{
  font-size: 12px;
  font-weight:lighter;
  text-align: left;

}


.col3{
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  padding-left: 0px;


}


#service .riga {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(250,250,250,0.6);
  width: 100%;
  vertical-align: middle;

}

/* love */
#love img{
  width: 90%;
}
#love .circle{
  padding-top: 20px;
  padding-bottom: 100px;
}

/* cta */

#cta{
  background-color: ##0069ff;
  background-image: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 64px;
}

#cta .content{
  line-height: 64px;
  height: 64px;

}

#cta .btn{
padding: 20px 20px;
font-weight: 600;
}

/* footer */
.w_100{

  padding: 0;
  margin:0;
}
footer{
  background-color: hsl(220,95%,8%);

}

 ul.list_f {
   list-style-type: none;
   padding:0;
   color:white;
 }

 ul.list_f > li {
   padding: 3px 0;
 }

 ul.list_f > li > h6{
   color: white;
   font-weight: 400;
   font-size: 13px;

 }

 ul.list_f > li > a{
   text-decoration: none;
   color: #5b6987;
   font-weight: 300;
   font-size: 12px;

 }
 #copy span{
   font-size: 13px;
   font-weight: 300;
   vertical-align: middle;
 }

 #copy i{
   vertical-align: middle;
 }


 #copy .content{
   line-height: 50px;
 }

 #copy i{
   padding-left: 15px;
 }


@media screen and (min-width:1170px){

}

@media screen and (min-width:970px)and (max-width:1169px){

  .cont_box{
    width: 50%;
  }

  .con_w{
    width: 50%;
  }

  .h1_font{
    text-align: center;
  }

  .h4_font{
    text-align: center;
  }
  .marg_t_100{
    margin-top: 30px;

  }
  .marg_t_150{
    margin-top: 50px;
  }

  .form_marg {
    margin-bottom: 100px;
  }

  #built .d_list_cont {
    padding: 15px 5px;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }



}
@media screen and (min-width:751px)and (max-width:969px){
  .news_bar > .container-fluid > .row{
    border-bottom: none;
  }

  .cont_box{
    width: 50%;
  }

  .con_w{
    width: 80%;
  }

  .h1_font{
    text-align: center;
  }

  .h4_font{
    text-align: center;
  }
  .marg_t_100{
    margin-top: 30px;

  }
  .form_marg {
    margin-bottom: 100px;
  }
  .marg_t_150{
    margin-top: 50px;
  }
  .d_w{
    width: 100%;
  }
  #built .d_list_cont {
    padding: 15px 5px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #cta .content{
    text-align: center;

  }


}
@media screen and (max-width:750px){
  .news_bar > .container-fluid > .row{
    border-bottom: none;
  }

  .cont_box{
    width: 100%;
  }

  .con_w{
    width: 80%;
  }

  .h1_font{
    text-align: center;
  }

  .h4_font{
    text-align: center;
  }
  .marg_t_100{
    margin-top: 30px;

  }
  .form_marg {
    margin-bottom: 100px;
  }
  .marg_t_150{
    margin-top: 50px;
  }
  .d_w{
    width: 100%;
  }

  #deploy .d_list li{
    display: inline;
    border-left: none;
    border-bottom: 2px solid #b7babe;
  }

  #deploy .list_margin{
    text-align: center;
  }

  li#select {
    border-left:0;
    border-bottom: 2px solid #016bff;
    padding-right: 0;
  }

  .list_margin {
    margin-bottom: 50px;
  }

   #deploy .d_list_cont {
    padding: 15px 5px;
    text-align: center;
  }


  #built .d_list_cont {
    padding: 15px 5px;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #cta .content{
    text-align: center;

  }

  #copy .content{
    text-align: center;
  }








}
